<a href="https://colab.research.google.com/github/martineza96/Capstone-3/blob/main/workbook_cap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn

In [2]:
! pip install yelpapi
from yelpapi import YelpAPI

Requirement already satisfied: yelpapi in /usr/local/lib/python3.6/dist-packages (2.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from yelpapi) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->yelpapi) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->yelpapi) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->yelpapi) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->yelpapi) (2020.12.5)

In [3]:
client_id = 'j2gs-vpnM4hK8ZdTnI9Z_w'
api_key = 'DQxI9tgPVGK267io5Aio_2Ki2nClIabv1rae7FGMElnMfH6FPxq3a7u3e3drxb47RwwTr7GVrN6fL7Gz_ezLxRSUDy95eiWTj5Zh1Vamet95rxoakef3lj7DuFrrX3Yx'

In [4]:
req_business_string = "https://api.yelp.com/v3/businesses/search?term=restaurants&location='Middletown, New York'"

In [5]:
#r = requests.get(req_business_string, 
                 #headers={"content-type":"application/json", 
                          #"authorization": "client_id " + key})

In [6]:
#json = r.json()
#businesses = json['businesses']

In [7]:
#df = pd.DataFrame.from_dict(businesses)

In [8]:
def get_businesses(location, term, api_key=api_key):
    headers = {'Authorization': 'Bearer %s' % api_key}
    url = 'https://api.yelp.com/v3/businesses/search'

    data = []
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': location.replace(' ', '+'),
            'term': term.replace(' ', '+'),
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break

    return data

In [9]:
Middletown = get_businesses('Middletown,NY','restaurants&location')

In [10]:
Brooklyn = get_businesses('Brooklyn, NY','restaurants&location')

In [11]:
Worcester = get_businesses('Worcester, MA','restaurants&location')

In [12]:
Worcester = get_businesses('Worcester, MA','restaurants&location')

In [13]:
#len(middletown)

In [15]:
middletown_df = pd.DataFrame.from_dict(Middletown)
brooklyn_df = pd.DataFrame.from_dict(Brooklyn)
worcester_df = pd.DataFrame.from_dict(Worcester)

In [16]:
middletown_df['phone'] = middletown_df['phone'].map(lambda x: int(x[2:]) if len(x) > 1 else 0 )

In [18]:

#middletown_df[middletown_df['price'].isna()]

In [ ]:
#query = f'https://api.documenu.com/v2/restaurants/search/fields?exact=true&restaurant_phone={phone_number}?key=b9d9b70df37a7bddf006406fdf8cbe32'


#middletown_df['phone'].dropna(inplace=True)
# for phone_number in middletown_df['phone']:
#   print(phone_number)
middletown_df.dtypes

In [19]:
# middletown_menus = {}

# for phone_number in middletown_df['phone']:
#   try:
#     menu = f'https://api.documenu.com/v2/restaurants/search/fields?exact=true&restaurant_phone={phone_number}?key=b9d9b70df37a7bddf006406fdf8cbe32'
#     req = requests.get(menu)
#     middletown_menus[phone_number] = req
#   except:
#     middletown_menu[phone_number] = 'No Menu'

In [20]:
def create_zip_menu_df(zipcode,pages=1):
  headers = {'x-api-key': "b9d9b70df37a7bddf006406fdf8cbe32"}
  if pages == 1:
    url = f'https://api.documenu.com/v2/restaurants/zip_code/{zipcode}?page={pages}&fullmenu=true'
    response = requests.get(url, headers=headers)
    menu = response.json()
    out_dataframe = pd.DataFrame.from_dict(menu['data'],ignore_index=True)
    
    return out_dataframe 

  else:
    menus = []
    for i in range(1,pages+1):
      
      url = f'https://api.documenu.com/v2/restaurants/zip_code/{zipcode}?page={i}&fullmenu=true'
      response = requests.get(url, headers=headers)
      menu = response.json()
      menus.append(menu)

    dataframes = {}
    for i in range(len(menus)):
      df = pd.DataFrame.from_dict(menus[i]['data'])
      dataframes[i] = df

    final_df = dataframes[0]
    for i in range(1,len(menus)):
      final_df = final_df.append(dataframes[i],ignore_index=True)
 
  return final_df

In [21]:
mid_menu_df = create_zip_menu_df(10940,pages=6)
mid_menu_df

                 restaurant_name  ...              last_updated
0                    Quiznos Sub  ...  2020-12-23T06:57:04.654Z
1               Starbucks Coffee  ...  2020-12-23T06:57:04.671Z
2    Perkins Restaurant & Bakery  ...  2020-12-23T06:57:04.697Z
3                  Ruby Tuesdays  ...  2020-12-23T06:57:04.719Z
4                   Panera Bread  ...  2020-12-23T06:57:04.897Z
..                           ...  ...                       ...
123                   Dos Amigos  ...  2020-12-23T06:57:16.409Z
124          Boxo Noodle Bar Inc  ...  2020-12-23T06:57:16.461Z
125                 Panera Bread  ...  2020-12-23T06:57:16.951Z
126                         IHOP  ...  2020-12-23T06:57:17.429Z
127                      Dunkin'  ...  2020-12-23T07:37:56.898Z

[128 rows x 12 columns]

In [ ]:
dataframes = {}
for i in range(len(middletown_10940_menu)):
  df = pd.DataFrame.from_dict(middletown_10940_menu[i]['data'])
  dataframes[i] = df

final_df = dataframes[0]
for i in range(1,len(menus)+1):
  final_df = final_df.append(dataframes[i],ignore_index=True)

In [ ]:
final_df

In [ ]:
#pd.DataFrame.from_dict(middletown_rest['data']).append(pd.DataFrame.from_dict(middletown_rest['data']))

In [ ]:
# test = pd.DataFrame.from_dict(test_dict)

In [ ]:
test = pd.DataFrame().append(middletown_rest['data'],ignore_index=True)

In [ ]:
test.append(middletown_rest['data'],ignore_index=True)

In [ ]:
for i in range(1,1+1):
  print(i)

In [22]:
! pwd

/content

In [29]:
cd drive/MyDrive/Capstone\ 3

/content/drive/MyDrive/Capstone 3

In [32]:
mid_menu_df.to_csv('middletown_menu_df.csv')

In [33]:
middletown_df.to_csv('middletown_resturants.csv')

In [1]:
print('my name is alex')

my name is alex